body{
	min-width: 1280px;
	background-color:#58579C;
	height: 4000px;
	padding: 0;
}

.exb{
	font-family: Arial, sans-serif;
	font-size: 96px;
	top: 229px;
	left: 41px;
	position: absolute;
}
.about{
	font-family: Arial, sans-serif;
	font-size: 40px;
	top: 86px;
	left: 1054px;
	position: absolute;
}
.home1280px-container {
	background-color:#6463B1;
	min-height: 100vh;
	margin: 0 auto;
	width: 1280px;
}
.home1280px-home1280px {
	width: 100%;
	height: 4000px;
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: transparent;
}
.home1280px-b-a-z-a {
	top: 77px;
	left: 53px;
	width: 312px;
	height: 94px;
	position: absolute;
	box-sizing: content-box;
}
.home1280px-footer {
	top: 3886px;
	left: 37px;
	width: 1195px;
	height: 37px;
	display: flex;
	padding: 0;
	position: absolute;
	align-self: auto;
	box-sizing: border-box;
	align-items: flex-start;
	flex-shrink: 1;
	border-color: transparent;
	border-style: none;
	border-width: 0;
	margin-right: 0;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0;
	flex-direction: row;
	justify-content: flex-start;
	background-color: transparent;
}
.copybaza{
	font-family: Arial, sans-serif;
	font-size: 48px;
	top: -8px;
	left: 10px;
	position: absolute;
}
.yan{
	font-family: Arial, sans-serif;
	font-size: 36px;
	top: 0px;
	left: 980px;
	position: absolute;
}
.home1280px-vector {
  top: 522px;
  left: 320px;
  width: 638px;
  height: 217px;
  position: absolute;
  box-sizing: content-box;
}
.home1280px-dream-trading-card22 {
  top: 860px;
  left: 424px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-dream-trading-card32 {
  top: 860px;
  left: 803px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-s-v-g-trading-card1 {
  top: 2332px;
  left: 803px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-dream-trading-card41 {
  top: 1596px;
  left: 45px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-s-v-g-trading-card11 {
  top: 2332px;
  left: 424px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-dream-trading-card51 {
  top: 1596px;
  left: 424px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-dream-trading-card1 {
  top: 2332px;
  left: 45px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-dream-trading-card73 {
  top: 1596px;
  left: 803px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-s-v-g-trading-card12 {
  top: 3068px;
  left: 45px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-dream-trading-card42 {
  top: 3068px;
  left: 424px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-dream-trading-card72 {
  top: 3068px;
  left: 803px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-ellipse1 {
  top: 1277px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse101 {
  top: 1148px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse102 {
  top: 2024px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse103 {
  top: 2492px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse104 {
  top: 2356px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse105 {
  top: 2750px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse106 {
  top: 3357px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse107 {
  top: 3228px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse108 {
  top: 3099px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse109 {
  top: 1895px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse110 {
  top: 1637px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
.home1280px-ellipse8 {
  top: 890px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.home1280px-ellipse9 {
  top: 1766px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.home1280px-ellipse11 {
  top: 3486px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.home1280px-ellipse10 {
  top: 2621px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
  border-color: transparent;
}
.home1280px-polygon2 {
  top: 3613px;
  left: 1192px;
  width: 69px;
  height: 60px;
  position: absolute;
}
.home1280px-polygon21 {
  top: 1406px;
  left: 1192px;
  width: 69px;
  height: 60px;
  position: absolute;
}
.home1280px-polygon22 {
  top: 2153px;
  left: 1192px;
  width: 69px;
  height: 60px;
  position: absolute;
}
.home1280px-polygon23 {
  top: 2877px;
  left: 1192px;
  width: 69px;
  height: 60px;
  position: absolute;
}
.home1280px-dream-trading-card13 {
  top: 860px;
  left: 45px;
  width: 369px;
  height: 656px;
  position: absolute;
}
.home1280px-ellipse111 {
  top: 1019px;
  left: 1194px;
  width: 65px;
  height: 65px;
  position: absolute;
}
